/* Question to Clone */
#ays-survey-form .ays-survey-condition-containers-added{
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #fff;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    position: relative;
    -webkit-transition: box-shadow 0.25s cubic-bezier(0, 0, 0.2, 1);
    transition: box-shadow 0.25s cubic-bezier(0, 0, 0.2, 1);
    margin-bottom: 12px;
    min-height: 250px;
    padding: 10px;    
    border-top-left-radius: 0;
    border-radius: 8px;
    border-top: 10px solid;
    transition: 0.5s;
}

#ays-survey-form .ays-survey-condition-containers-editable{
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #fff;
    -webkit-border-radius: 8px;
    border-radius: 8px;    
    border-top-left-radius: 0;
    border-radius: 8px;
    border-left: 5px solid;
    transition: 0.5s;    
    height: 50px;
}

#ays-survey-form .ays-survey-condition-add-new {
    -webkit-user-select: none;
    user-select: none;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    border: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    height: 48px;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    width: 48px;
    z-index: 0;
    transition: 0.5s;
}

#ays-survey-form .ays-survey-condition-delete-conteiner-box{
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(0,0,0,.1);
}


#ays-survey-form .ays-survey-condition-delete-currnet {
    margin-left: 5px;
}

/* 
#ays-survey-form .ays-survey-action-delete-all-condition{
    height: 100%;
    width: 100%;
} */

#ays-survey-form .ays-survey-condition-select-question-box{
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 10px;
}

#ays-survey-form .ays-survey-condition-select-question-answers{
    margin-left: 12px;
}

#ays-survey-form .ays-survey-condition-selects{
    /* margin-left: 12px; */
    display: flex;
    flex-wrap: wrap;
}

#ays-survey-form .ays-survey-condition-for-other-types{
    /* margin-left: 12px; */
    display: flex;
    flex-wrap: wrap;
}
/* 
#ays-survey-form .ays-survey-delete-button-small.appsMaterialWizButtonPapericonbuttonEl{
   width: 30px;
   height: 30px;
} */

#ays-survey-form .ays-survey-condition-for-other-types-text{
   margin-left: 12px;
}

#ays-survey-form .ays-survey-condition-for-other-types-text input{
   height: 36px;
}

#ays-survey-form .ays-survey-condition-containers-ready{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

#ays-survey-form .ays-survey-condition-select-question,
#ays-survey-form .ays-survey-condition-select-question-with-answers,
#ays-survey-form .ays-survey-condition-for-text-types-select,
#ays-survey-form .ays-survey-condition-for-number-types-select,
#ays-survey-form .ays-survey-condition-for-other-types-text input {
   width: 160px;
   min-height: 36px;
}

#ays-survey-form .ays-survey-condition-select-question-condition{
   display: flex;
   justify-content: center;
   margin-top: 10px;
}

#ays-survey-form .ays-survey-condition-containers-conditions{
    border-left: 2px solid rgba(0,0,0,.1);
}

#ays-survey-form .ays-survey-condition-containers-conditions-titles-nav-bar{
    display: flex;
    flex-wrap: wrap;
}

#ays-survey-form .ays-survey-condition-containers-conditions-tabs{
    padding: 5px 36px;
    border-width: 0 2px 0 0;
    border-style: solid;
    border-color: rgba(0,0,0,.1);
    font-size: 15px;
    cursor: pointer;
    border-radius: 0 0 3px 3px;
    font-weight: 600;
    letter-spacing: 0.5px;
    min-width: 120px;
    text-align: center;
}

#ays-survey-form .ays-survey-condition-containers-list-main-box,#ays-survey-form .ays-survey-condition-containers-conditions{
    width: 50%;
}

#ays-survey-form .nav-cond-tab-active{
    background-color: #c3c4c7;
    transition: .3s;
    
}

#ays-survey-form .ays-survey-condition-containers-conditions-contents{
    padding: 10px;
    height: 100%;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

#ays-survey-form .ays-survey-conditions-messages-textareas{
    display: block;
    width: 100%;
    margin-top: 5px;
    height: 200px !important;
}

#ays-survey-form .ays-survey-condition-containers-conditions-content{
    border-top: 1px solid rgba(0,0,0,.1);
    min-height: 420px;
}

#ays-survey-form .ays-survey-conditions-messages-input{
    width: 100%;
}

#ays-survey-form .ays-survey-email-message-files-main-contnet{
  margin-top: 12px;
}

#ays-survey-form .ays-survey-email-message-files{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#ays-survey-form .ays-survey-messages-contnet-titles{
    font-size: 20px;
    font-weight: 600;
}

#ays-survey-form .ays-survey-email-message-files-body{
    border: 2px dashed;
    text-align: center;
    width: 400px;
}

#ays-survey-form .ays-survey-email-message-files-upload{
    margin-top: 10px;
}

#ays-survey-form .ays-survey-action-add-condition{
    display: flex;
    align-items: center;
    width: 167px;
    overflow: initial;
    max-width: 100%;
    padding: 10px;
    border-radius: 5px;
    justify-content: flex-start;
    margin-bottom: 10px;
}

#ays-survey-form .ays-question-img-icon-content-conditions{
    width: initial;
}

#ays-survey-form .ays-survey-condition-containers-editable {
    padding: 10px;
    word-break: break-all;
    word-wrap: break-word;
    height: 100%;
    width: 50%;
    cursor: pointer;
    margin-bottom: 12px;
}

#ays-survey-form .ays-survey-condition-containers-list-main-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-style: italic;
    font-weight: 500;
}

#ays-survey-form .ays-survey-email-message-files-content-text{
    outline: none;
    box-shadow: none;
}

#ays-survey-form .ays-survey-condition-select-question-box-questions-if{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 1440px){
    #ays-survey-form .ays-survey-condition-select-question,
    #ays-survey-form .ays-survey-condition-select-question-with-answers,
    #ays-survey-form .ays-survey-condition-for-text-types-select, 
    #ays-survey-form .ays-survey-condition-for-number-types-select,
    #ays-survey-form .ays-survey-condition-for-other-types-text input{
        width: 145px;
    }

    /* #ays-survey-form .ays-survey-condition-select-question-box-questions-if{
        width: 100%;
    } */

    /* #ays-survey-form .ays-survey-condition-selects{
        justify-content: center;
    } */
}

@media screen and (max-width: 1301px){
    #ays-survey-form .ays-survey-condition-select-question,
    #ays-survey-form .ays-survey-condition-select-question-with-answers,
    #ays-survey-form .ays-survey-condition-for-text-types-select, 
    #ays-survey-form .ays-survey-condition-for-number-types-select,
    #ays-survey-form .ays-survey-condition-for-other-types-text input{
        width: 140px;
    }

    #ays-survey-form .ays-survey-condition-select-question-box-questions-if{
        width: 100%;
    }

    #ays-survey-form .ays-survey-condition-selects{
        justify-content: center;
    }
}

@media screen and (max-width: 1200px){
    #ays-survey-form .ays-survey-condition-select-question,
    #ays-survey-form .ays-survey-condition-select-question-with-answers,
    #ays-survey-form .ays-survey-condition-for-text-types-select, 
    #ays-survey-form .ays-survey-condition-for-number-types-select,
    #ays-survey-form .ays-survey-condition-for-other-types-text input{
        width: 250px;
    }

    #ays-survey-form .ays-survey-condition-select-question-answers{
        margin-left: 0;
        margin-top: 8px;
    }

    #ays-survey-form .ays-survey-condition-for-other-types-text{
        margin-left: 0;
        margin-top: 8px;
    }

    #ays-survey-form .ays-survey-condition-selects,
    #ays-survey-form .ays-survey-condition-for-other-types{
        justify-content: center;
    }

    #ays-survey-form .ays-survey-condition-containers-add-list-button-box{
        text-align: center;
    }

    #ays-survey-form .ays-survey-condition-delete-currnet{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #ays-survey-form .ays-survey-email-message-files-body{
        width: 200px;
    }
}


@media screen and (max-width: 640px){
    #ays-survey-form .ays-survey-condition-select-question,
    #ays-survey-form .ays-survey-condition-select-question-with-answers,
    #ays-survey-form .ays-survey-condition-for-text-types-select, 
    #ays-survey-form .ays-survey-condition-for-number-types-select,
    #ays-survey-form .ays-survey-condition-for-other-types-text input{
        width: 150px !important;
    }

    #ays-survey-form .ays-survey-condition-containers-conditions-titles-nav-bar{
        justify-content: center;
    }

    #ays-survey-form .ays-survey-email-message-files{
        justify-content: center;
    }

    #ays-survey-form .ays-survey-condition-containers-ready{
        flex-direction: column;
    }

    #ays-survey-form .ays-survey-condition-containers-list-main-box, #ays-survey-form .ays-survey-condition-containers-conditions{
        width: 100%;
    }

    #ays-survey-form .ays-survey-condition-selects,
    #ays-survey-form .ays-survey-condition-for-other-types{
        flex-direction: column;
        align-items: center;
    }

    #ays-survey-form .ays-survey-condition-containers-conditions{
        border-top: 1px solid rgba(0,0,0,.1);
    }
}



